#cssviewly_block {
	font-family: "Inter", sans-serif;
	font-size: 10px;
	color: #ffffff;
	display: none;
	max-width: 300px;
	position: absolute;
	z-index: 9999;

}

#cssviewly_block h1,
#cssviewly_footer {
	font-family: "Inter", sans-serif;
	font-size: 12px;
	color: #ffffff;
	background: red;
	text-align: center;
	padding: 6px 0;
	margin: auto;
	line-height: 1.75;
}

#cssviewly_block h2 {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 6px 0;
	line-height: 1.75;
}

#cssviewly_center {
	padding: 0 10px;
	background: #000000;
	margin: auto;
}

.cssviewly_category {
	padding: 4px;
	background: #000000;
}

#cssviewly_block ul {
	list-style: none;
	max-width: 300px;
	margin: 0;
	padding: 0;
}

#cssviewly_block li {
	line-height: 1.75;
}

.cssviewly_property {
	color: #ffffff;
	float: left;
	width: 100px;
	display: block;
	overflow: hidden;
}